/* 
--fz128: 7.62vw;
--fz64: 3.81vw;
--fz40: 2.38vw;
--fz34: 2.02vw;
--fz32: 1.90vw;
--fz30: 1.79vw;
--fz25: 1.49vw;
--fz24: 1.43vw;
--fz20: 1.19vw;
--fz16: 0.95vw;
--fz15: 0.89vw;
--fz12: 0.71vw;
*/

@media screen and (max-width: 1399px) {
    :root {
        --fz128: 9.15vw;
        --fz64: 4.57vw;
        --fz40: 2.86vw;
        --fz38: 2.72vw;
        --fz34: 2.43vw;
        --fz32: 2.29vw;
        --fz30: 2.14vw;
        --fz25: 1.79vw;
        --fz24: 1.72vw;
        --fz20: 1.43vw;
        --fz16: 1.14vw;
        --fz15: 1.07vw;
        --fz12: 0.86vw;
    }
    footer::before, footer::after {
        width: 5vw;
    }
    .location .locationBlock .map .container .locationInfo {
        width: 13vw;
    }
    footer .footer {
        grid-template-columns: 75% auto;
    }
    .brandSection .brandSectionBlock .info-block .item .imgBrand {
        height: 20vw;
    }
    .banner .discountSlider .calendarBlock .nameDay span {
        font-size: 8px;
    }
    .banner .discountSlider .calendarBlock .calendar .item .discountNum.newDelivery {
        font-size: 10px;
    }
    .banner .discountSlider .calendarBlock .calendar {
        column-gap: 1px;
        row-gap: 2px;
    }
}
@media screen and (max-width: 1280px) {
    :root {
        --fz15: 1.17vw;
    }
    footer::before, footer::after {
        width: 3vw;
    }
    .brandSection .brandSectionBlock .info-block .item .imgBrand {
        height: 22.55vw;
    }
    .banner {
        height: 90vh;
    }
    .banner {
        padding-top: 5.4vw;
    }
    .location .locationBlock .map .container .locationInfo {
        right: 5.8vw;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .dayBlock .arrows {
        width: 4vw;
    }
}
@media screen and (max-width: 1199px) {
    footer::before, footer::after {
        width: 7vw;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner {
        width: 315px;
    }
}
@media screen and (max-width: 1125px) {
    footer::before, footer::after {
        width: 5vw;
    }
    footer .footer .item .logo {
        width: 13vw;
    }
    footer .footer .item .contactInfo .soc ul li .iconSoc {
        width: 25px;
        height: 25px;
    }
    .aboutUs .aboutUsBlock .textBlock::before {
        width: 14.24vw;
        height: 20.24vw;
    }
}
@media screen and (max-width: 1050px) {
    footer::before, footer::after {
        width: 3vw;
    }
    footer .footer {
        grid-template-columns: 70% auto;
    }
}
@media screen and (max-width: 991px) {
    :root {
        --fz128: 8.07vw;
        --fz64: 4.5vw;
        --fz34: 3.43vw;
        --fz30: 2.32vw;
        --fz24: 2.02vw;
        --fz20: 1.85vw;
        --fz15: 1.5vw;
        --fz12: 1.21vw;
    }
    .location .locationBlock .map {
        height: 40.36vw;
    }
    .location .locationBlock .map .container .locationInfo {
        width: 20vw;
    }
    .location .locationBlock .map .container .locationInfo {
        right: 2.83vw;
    }
    .textBlockTitle {
        margin-bottom: 5vw;
    }
    footer .footer .item .logo,
    footer .footer .item .contactInfo {
        padding: 1.55vw 0 1.55vw 1.96vw ;
    }
    .banner {
        height: 80vh;
    }
    header .header .logo a {
        width: 12vw;
        height: 4vw;
    }
    .custom-checkbox+label::before {
        width: 1.3vw;
        height: 1.3vw;
    }
    .__select__content {
        top: 3.5vw
    }
    .__select {
        height: 3.5vw;
    }
    footer .footer .item .logo {
        width: 15vw;
    }
    section {
        padding: 6vw 0;
    }
    section.discountBlock {
        padding-bottom: 5vw;
    }
    .newsSection .newsSectionBlock .info-block .item .titleTextBlockNews .textAndBtn .arrows-block, .jobList .jobListBlock .info-block .item .namePlace .arrows-block {
        max-width: 25vw;
    }
    .__select__label {
        padding: 15px 10px;
    }
    .reviewsSection .reviewsSectionBlock .info-block .item .review-block .person .imgPerson {
        width: 7vw;
        height: 7vw;
    }
    .brand .brandBlock .brandBlockSlider .brandSlider {
        width: calc(100% - 10vw);
    }
    header .header {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 900px) {
    :root {
        --fz128: 70px;
        --fz64: 40px;
        --fz34: 34px;
        --fz30: 25px;
        --fz24: 21px;
        --fz20: 18px;
        --fz16: 16px;
        --fz15: 15px;
        --fz12: 12px;
    }
    .ourCollections .ourCollectionsBlock .textBlock {
        padding-bottom: 13vw;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.women::before {
        top: 27%;
    }
    .banner {
        height: 60vh;
        padding: 5.88vw 0 3vw;
    }
    .banner .bannerBlock {
        padding: 0;
    }
    .news .newsBlock .info-block .item .titleInfo {
        padding: 5.9vw 1.3vw;
    }
    .location .locationBlock .map .container .locationInfo .locText {
        gap: 0.7vw
    }
    .brand .brandBlock .brandBlockSlider .brandSlider .swiper-wrapper .swiper-slide img {
        width: 70%;
        height: 6.5vw;
    }
    .brand .btn-swiper.btn-slide-prev, .brand .btn-swiper.btn-slide-next {
        width: 4.5vw;
        height: 4.5vw;
    }
    .banner.aboutUsPage {
        min-height: 500px;
    }
    header .header .logo a {
        width: 15vw;
        height: 5vw;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner {
        width: 250px;
    }
    .btn {
        padding: 10px 30px;
    }
    .infoCompanySection .infoCompanyBlock .photo-text .photoCollections, .infoContactsSection .infoContactsSectionBlock .photo-text .photoCollections {
        height: 34.21vw;
    }
    .banner.aboutUsPage .bannerBlock .block p {
        font-size: 16px;
    }
    .banner.aboutUsPage {
        padding-top: 9.74vw;
    }
    .cooperation .cooperationBlock .info-block .item .imgBlockCooperation {
        margin-top: 2.55vw;
    }
    .reviewsSection .reviewsSectionBlock .info-block .item .block {
        padding: 3vw 0 4.23vw;
    }
    .reviewsSection .reviewsSectionBlock .info-block .item .review-block .person {
        gap: 1.89vw
    }
    header .submenu {
        max-width: 21.30vw;
    }
    footer .footer .item.navigation {
        padding: 20px 20px 20px 0;
    }
    footer .footer .item .logo, footer .footer .item .contactInfo {
        padding: 20px 0 20px 20px;
    }
    .brandSection .brandSectionBlock .info-block {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    .brandSection .brandSectionBlock .info-block .item .imgBrand {
        height: 250px;
    }
    .news .newsBlock .item-btn {
        padding: 3.5vw 0;
    }
    .location .locationBlock .map .container .locationInfo {
        padding: 2.08vw 0.9vw;
    }
    footer::before {
        width: 5vw;
    }
    footer::after {
        width: 3.5vw;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner {
        width: 320px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .mainCalendar a {
        min-width: 20vw;
    }
    .__select {
        width: 35vw;
        height: 40px;
    }
    .__select__content {
        top: 40px;
    }
    .__select .__select__title input {
        height: 100%;
    }
    .__select[data-state=active] .__select__label + .__select__input + .__select__label {
        max-height: max-content;
    }
    .__select__label {
        padding: 18px 10px;
    }
    .modal#coupon .modal-body .btnTab {
        margin-bottom: 3vw;
    }
    input, textarea {
        padding: 1.3vw;
    }
}
@media screen and (max-width: 830px) {
    .banner {
        padding-top: 6.65vw;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.women::before {
        top: 25%;
        right: 1.98vw;
    }
}
@media screen and (max-width: 767px) {
    :root {
        --fz64: 45px;
        --fz40: 27px;
        --fz38: 25px;
        --fz34: 32px;
        --fz30: 23px;
        --fz24: 20px;
        --fz20: 16px;
        --fz16: 15px;
        --fz15: 14px;
    }
    .reviewsSection .reviewsSectionBlock .info-block .item .titleBlock span {
        font-size: 35px;
    }
    header .header .logo a {
        width: 17vw;
        height: 6vw;
    }
    .ourCollections .ourCollectionsBlock .textBlock {
        padding-bottom: 15vw;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.women::before {
        top: 75px
    }
    section {
        padding: 5.5vw 0;
    }
    .newsSection .newsSectionBlock .info-block .item .titleTextBlockNews .textAndBtn .arrows-block, .jobList .jobListBlock .info-block .item .namePlace .arrows-block {
        max-width: 30vw;
    }
    .stocksBlock .stocksBlockMain .blockStocksInfo {
        grid-template-columns: 50% auto;
    }
    .stocksBlock .stocksBlockMain .info-block .item .textBlock .h3.title__page {
        font-size: 27px;
    }
    .brandSection .brandSectionBlock .search {
        width: 250px;
    }
    footer .footer .item .logo {
        width: 18vw;
    }
    .banner .bannerBlock .calendar-coupon .circles-block .circles {
        width: 12px;
        height: 12px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .info-text {
        padding: 5px 5px 3px;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.children {
        margin-top: -18.5vw;
    }
    .jobList .jobListBlock .info-block .item .imgPlace {
        height: 20vw;
    }
    footer .footer .item .contactInfo .soc ul li .iconSoc {
        width: 23px;
        height: 23px;
    }
    .brandSectionPage .brandSectionBlockPage .info-block {
        max-width: 548px;
        grid-template-columns: 100%;
        margin: 0 auto
    }
    .detailedNews .info-block .item.desc {
        margin-right: 0!important;
    }
    footer .footer {
        grid-template-columns: 1fr;
    }
    footer .footer .item.navigation {
        order: 2;
    }
    footer .footer .item.infoContactMain {
        display: flex;
        gap: 30px;
        align-items: center;
        order: 1;
    }
    footer .footer .item .contactInfo.beforeContactInfo .line {
        display: none;
    }
    footer .footer .item .logo, footer .footer .item .contactInfo {
        padding: 15px 0;
    }
    footer .footer .item .contactInfo {
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
    footer .footer .item .contactInfo .infoCommunication {
        order: 1;
    }
    footer .footer .item .contactInfo .soc {
        order: 2;
    }
    footer .footer .item.navigation {
        padding: 15px 0;
        border: 0;
    }
    .banner {
        padding-top: 6vw;
    }
    header nav .nav > ul.topmenu {
        display: none;
    }
    header .burger {
        display: flex;
    }
    header .nav {
        justify-content: flex-end;
    }
    .banner .titleText {
        position: initial;
        z-index: 1;
        justify-content: center;
        align-items: center
    }
    .banner .bannerBlock {
        justify-content: center;
    }
    .banner.job {
        justify-content: center;
        padding: 50px 0;
    }
    .banner {
        flex-direction: column;
        justify-content: space-between;
    }
    .banner .bannerBlock .calendarSlider {
        height: 100px;
    }
    .banner .bannerBlock .calendar-coupon .circles-block {
        flex-direction: column;
    }
    .banner .bannerBlock .calendar-coupon .circles-block {
        display: none;
    }
    .banner .bannerBlock .calendar-coupon .circles-block .circles:nth-child(5),
    .banner .bannerBlock .calendar-coupon .circles-block .circles:nth-child(6),
    .banner .bannerBlock .calendar-coupon .circles-block .circles:nth-child(7) {
        display: none;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg {
        flex-direction: row-reverse;
    }
    .banner .calendarSlider .swiper-slide {
        display: flex;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner {
        position: relative;
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: auto auto auto;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .circlesMob {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        right: 10px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .circlesMob .circles {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--dark-gray)
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg {
        grid-column: 2/4;
        grid-row: 1/5;
        background-color: transparent;
        padding: 14px 40px 0 20px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .info-text {
        grid-column: 1/2;
        grid-row: 1/6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .mainCalendar {
        grid-column: 2/4;
        padding: 14px 40px 14px 20px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .info-text span {
        display: block;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 20px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .dayBlock {
        flex-direction: column;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .dayBlock .btn-slide {
        transform: rotate(90deg);
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner {
        width: auto;
    }
    .banner .bannerBlock .calendar-coupon {
        width: 100%;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .dayBlock .btn-slide {
        height: 20px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .dayBlock .arrows {
        width: 20px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .nameDay {
        font-size: 30px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .discount-amount {
        padding: 8px 27px;
        font-size: 45px;
    }
    .banner .calendarSlider .swiper-slide .nameDay-discAmount {
        width: 50%;
    }
    .banner .calendarSlider .swiper-slide {
        justify-content: space-between;
    }
    .banner .calendarSlider .swiper-slide {
        justify-content: center;
        gap: 40px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .mainCalendar a {
        width: 100%;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .dayBlock {
        font-size: 30px;
    }
    .banner {
        padding-top: 80px;
    }
    .banner .titleText {
        font-size: 50px;
    }
    .ourCollections .ourCollectionsBlock .photo-text {
        grid-template-columns: 1fr;
        gap: 23px;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.women {
        order: 2;
        width: 70%;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.women::before {
        top: 30%;
        right: 12%;
        
    }
    .ourCollections .ourCollectionsBlock .photoCollections.women::before,
    .ourCollections .ourCollectionsBlock .photoCollections.man::before,
    .ourCollections .ourCollectionsBlock .photoCollections.children::before {
        font-size: 30px;
    }
    .ourCollections .ourCollectionsBlock .photo-text .textBlock {
        order: 1;
        padding: 0;
        padding-top: 68px;
    }
    .ourCollections .ourCollectionsBlock .photo-text .textBlockMain {
        max-width: 540px;
        margin: 0 auto!important;
    }
    .ourCollections .ourCollectionsBlock .photoManChildren {
        margin-top: 80px;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.man {
        width: 100%;
        height: 480px;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.man::before {
        left: 50%;
        transform: translate(-50%, -100%);
    }
    .ourCollections .ourCollectionsBlock .photoCollections.man img {
        object-position: 0 -220px;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.children {
        margin: 80px 0 0 auto;
        transform: none;
        width: 70%;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.children::before {
        font-weight: normal;
    }
    .aboutUs .aboutUsBlock .textBlock::before {
        display: none;
    }
    .aboutUs .aboutUsBlock .textBlock p {
        width: 100%;
    }
    section.aboutUs .aboutUsBlock .player {
        width: 100%;
        max-width: 100%;
    }
    .articles .articlesBlock .photo-text .photoCollections {
        padding-right: 15px;
    }
    .articles .articlesBlock .textBlockMain {
        padding-left: 15px;
    }
    .news .newsBlock .sliderNewsBlock {
        display: block;
    }
    .news .newsBlock .info-block,
    .news .newsBlock .item-btn .btnBlock {
        display: none;
    }
    .brand .brandBlock .brandBlockSlider .brandSlider .swiper-wrapper .swiper-slide img {
        width: 70%;
        height: auto;
    }
    .brand .brandBlock .brandBlockSlider .swiper-wrapper {
        align-items: center
    }
    .location .locationBlock .map .container .locationInfo {
        width: 250px;
        top: -40px
    }
    .textBlockTitle {
        margin-bottom: 40px;
    }
    footer::after,
    footer::before {
        width: 8vw;
    }
    .banner.aboutUsPage .bannerBlock .block p {
        width: 100%;
    }
    .banner.aboutUsPage .bannerBlock {
        height: 100%;
    }
    .infoCompanySection .infoCompanyBlock .photo-text {
        grid-template-columns: 1fr;
    }
    .infoCompanySection .infoCompanyBlock .photo-text .textBlockMain, .infoContactsSection .infoContactsSectionBlock .photo-text .textBlockMain {
        order: 1;
        margin: 68px auto!important;
        padding: 0;
        max-width: 540px;
    }
    .infoCompanySection .infoCompanyBlock .photo-text .photoCollections, .infoContactsSection .infoContactsSectionBlock .photo-text .photoCollections {
        order: 2
    }
    .infoCompanySection .infoCompanyBlock .photo-text .photoCollections {
        height: 450px;
    }
    .infoCompanySection .infoCompanyBlock .aboutUsTextBlock {
        padding: 68px 0;
    }
    .rags .ragsBlock .ragsBlockMain .ragsTextBlock {
        margin: 45px auto;
    }
    .rags .ragsBlock .imgRagsBottom, .rent .rentBlock .imgRentBottom {
        height: 15vw;
    }
    .rent .rentBlock .rentBlockMain .info-block {
        grid-template-columns: 1fr;
    }
    .advertisementSection .info-block .item {
        max-width: 540px;
        margin: 0 auto
    }
    .advertisementSection .info-block .item .textBlock {
        margin: 0!important;
    }
    .rent .rentBlock .rentBlockMain .info-block {
        gap: 33px;
    }
    .rent .rentBlock .rentBlockMain .rentTextBlock {
        margin: 33px auto;
    }
    .lineTitleSection50 .info-block .item .textBlock {
        width: 80%;
    }
    .custom-checkbox+label::before {
        width: 15px;
        height: 15px;
    }
    .modal .modal-content .modal-body .info-block .item form .inputBlock {
        gap: 15px;
    }
    .stocksBlock .stocksBlockMain .blockStocksInfo {
        grid-template-columns: auto 55%;
    }
    .infoContactsSection .info-block .item .textBlockMain .locationInfo .locText i {
        font-size: 25px;
    }
    .infoContactsSection .info-block .item .textBlockMain .locationInfo .locText {
        gap: 17px;
        align-items: center;
    }
    .infoContactsSection .info-block .item .textBlockMain .locationInfo {
        gap: 20px;
    }
    .location .locationBlock .map {
        height: 450px;
    }
    .faqSection .faqSectionBlock .categoryFaq {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 7px;
    }
    .faqSection .faqSectionBlock .info-block .item .question i {
        width: 30px;
        height: 30px;
    }
    .brand .btn-swiper.btn-slide-prev, .brand .btn-swiper.btn-slide-next {
        width: 35px;
        height: 35px;
    }
    .faqSection .faqSectionBlock .info-block {
        gap: 7px;
    }
    .brandSection .brandSectionBlock .info-block .item .imgBrand {
        height: 300px;
    }
    .brandSectionMain .brandSectionBlockPage .info-block .item.desc {
        order: 1;
        margin: 0!important;
    }
    .brandSectionMain .brandSectionBlockPage .info-block .item.sliderBlockBrand {
        order: 2;
    }
    section.brandSectionPage {
        padding-bottom: 5.5vw!important;
    }
    .brandSectionPage .brandSectionBlockPage .imgBrandBlock {
        margin-bottom: 39px;
    }
    .brandSectionPage .brandSectionBlockPage .info-block {
        gap: 49px;
    }
    .brandSectionPage .brandSectionBlockPage .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
    }
    .brandSectionPage .brandSectionBlockPage .info-block .item.sliderBlockBrand .swiper-pagination {
        right: 20px;
    }
    .brandSectionPage .brandSectionBlockPage .info-block .item.sliderBlockBrand {
        height: 500px;
    }
    footer .footer .item .contactInfo .infoCommunication ul li,
    footer .footer .item .contactInfo .soc ul {
        gap: 10px;
    }
    .brand .brandBlock .brandBlockSlider .brandSlider {
        width: calc(100% - 140px);
    }
    .brand .btn-swiper.btn-slide-prev, .brand .btn-swiper.btn-slide-next {
        background-color: transparent;
        border-radius: 0;
        width: 60px;
        height: 30px;
    }
    .modal .modal-content .modal-body {
        padding: 20px 30px;
    }
    .modal#coupon .modal-body .btnTab {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 700px) {
    .ourCollections .ourCollectionsBlock .photoCollections.man img {
        object-position: 0 -170px;
    }
}
@media screen and (max-width: 575px) {
    .reviewsSection .reviewsSectionBlock .info-block .item .titleBlock span {
        font-size: 32px;
    }
    header .header .logo a {
        width: 22vw;
        height: 9vw;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.man {
        height: 370px;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.children img {
        height: 500px;
    }
    footer .footer .item .contactInfo .soc ul li .iconSoc {
        width: 25px;
        height: 25px;
    }
    footer::after, footer::before {
        display: none;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.women::before {
        top: 25%;
        right: 8%;
    }
    header .header {
        grid-template-columns: repeat(auto-fit, minmax(130px, auto));
    }
    .brand .brandBlock .brandBlockSlider .btn-swiper .arrows {
        display: block;
    }
    .brand .brandBlock .brandBlockSlider .btn-swiper i {
        display: none;
    }
    .articles .articlesBlock .photo-text {
        grid-template-columns: 45% 55%;
    }
    .location .locationBlock .map .container .locationInfo {
        padding: 10px;
    }
    .discountBlock .discountBlockMain .swiper.discountSlider {
        width: calc(100% - 30px);
    }
    .discountBlock .discountBlockMain .swiper.discountSlider .swiper-slide {
        padding: 0 10px;
    }
    .brandSection .brandSectionBlock .info-block .item .imgBrand .nameBrand {
        padding: 15px 30px;
    }
    .infoContactsSection.contactsPage .infoContactsSectionBlock .info-block .textBlockMain {
        margin: 0 0 0 15px!important;
    }
    .jobList .jobListBlock .info-block {
        width: 80%;
    }
    .jobList .jobListBlock .info-block .item .namePlace > span {
        width: 120px;
    }
    .jobList .jobListBlock .info-block .item .namePlace {
        margin-left: 15px;
        margin-right: 0;
    }
    .jobList .jobListBlock .info-block .item .namePlace .arrows-block {
        max-width: none;
        flex: 1;
    }
    .jobList .jobListBlock .info-block .item .imgPlace {
        width: calc(100% - 15px);
    }
    .jobList .jobListBlock .info-block .item .imgPlace {
        height: 200px;
    }
    .jobList .jobListBlock .info-block .item .namePlace {
        margin-bottom: 20px;
    }
    .jobList .jobListBlock .info-block {
        gap: 40px;
    }
    .jobList .jobListBlock .info-block .item .textInformation .jobBlockMain .text ul {
        padding-left: 5vw;
    }
    .jobList .jobListBlock .info-block .item .textInformation .jobBlockMain {
        margin-bottom: 10px;
    }
    .jobList .jobListBlock .info-block .item .textInformation .jobBlockMainTitle {
        gap: 10px;
    }
    .jobList .jobListBlock .info-block .item .textInformation .jobBlockMainTitle .arrows {
        width: 30px;
    }
    .jobList .jobListBlock .info-block .item .textInformation.cityInfo {
        display: none;
        margin-top: 20px;
    }
    .jobList .item .__select {
        width: 100%;
    }
    .jobList .item .selectCity {
        margin-right: 0;
        margin-left: 15px;
    }
    section.jobList {
        padding-bottom: 40px;
    }
    .newsSection .newsSectionBlock .info-block .item {
        grid-template-columns: 100%;
    }
    .newsSection .newsSectionBlock .info-block .item .titleTextBlockNews {
        margin-right: 15px;
    }
    .newsSection .newsSectionBlock .info-block .item .titleTextBlockNews .textAndBtn .arrows-block, .jobList .jobListBlock .info-block .item .namePlace .arrows-block {
        max-width: none;
        width: 50%;
        margin-top: 20px;
    }
    .newsSection .newsSectionBlock .textMainCooperation.close {
        max-height: 110px!important;
    }
    .reviewsSection .reviewsSectionBlock .info-block .item .review-block .person .imgPerson {
        width: 70px;
        height: 70px;
    }
    .reviewsSection .reviewsSectionBlock .info-block .item .review-block,
    .reviewsSection .reviewsSectionBlock .info-block .item .review-block .person {
        gap: 10px;
    }
    section.reviewsSection {
        padding-bottom: 40px!important;
    }
    .lineTitleSection .info-block .item .textBlock .h3.title__page, .lineTitleSection50 .info-block .item .textBlock .h3.title__page {
        font-size: 25px;
    }
    .rags .ragsBlock .ragsBlockMain .info-block {
        display: flex;
        flex-direction: column-reverse;
        gap: 45px;
    }
    .rags .ragsBlock .ragsBlockMain .info-block .item .imgRags {
        transform: scale(-1, 1);
    }
    .rags .ragsBlock .imgRagsBottom, .rent .rentBlock .imgRentBottom {
        height: 120px;
    }
    .ourCollections .ourCollectionsBlock .photo-text .textBlockMain,
    .infoCompanySection .infoCompanyBlock .photo-text .textBlockMain, .infoContactsSection .infoContactsSectionBlock .photo-text .textBlockMain {
        max-width: none;
        margin: 0 15px!important;
    }
    .infoCompanySection .infoCompanyBlock .photo-text .textBlockMain {
        padding: 68px 0;
    }
    .banner.aboutUsPage .bannerBlock {
        justify-content: space-evenly;
    }
    .discountSlider .calendarBlock .calendar .item .discountNum {
        font-size: 15px;
    }
    .discountSlider .calendarBlock .nameDay {
        font-size: 12px;
    }
    .jobList .jobListBlock .info-block .item .textInformation .jobBlockMainTitle {
        width: 100%;
    }
}
@media screen and (max-width: 540px) {
    .ourCollections .ourCollectionsBlock .photoCollections.man img {
        object-position: 0 -130px;
    }
}
@media screen and (max-width: 480px) {
    .banner .bannerBlock .calendarSlider {
        height: 110px;
    }
    header .header {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 10px 0;
        gap: 10px;
    }
    header .header .city {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    header .header .logo {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    header .header .phone {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-content: flex-start;
    }
    header .header .logo a {
        width: 115px;
        height: 100%;
        min-height: 30px;
    }
    .banner .titleText {
        font-size: 45px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .discount-amount {
        padding: 10px;
        font-size: 55px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .info-text span {
        font-size: 16px;
    }
    .banner {
        height: 90vh;
    }
    .banner.bannerMain {
        background-size: 200%;
    }
    .banner.bannerMain .titleText {
        margin-top: 60px;
    }
    .banner .bannerBlock .btn {
        padding: 20px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner {
        grid-template-columns: 40px auto;
    }
    .banner .calendarSlider .swiper-slide {
        justify-content: space-between;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .nameDay {
        text-align: left;
    }
    .banner .calendarSlider .swiper-slide .nameDay-discAmount {
        width: auto;
    }
    .banner .calendarSlider .swiper-slide {
        gap: 5px;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.man {
        height: 300px;
    }
    .banner .calendarSlider .swiper-slide {
        padding: 5px 0;
    }
}
@media screen and (max-width: 420px) {
    :root {
        --fz128: 64px;
        --fz64: 40px;
        --fz30: 20px;
        --fz20: 14px;
    }
    .jobList .jobListBlock .info-block .item .imgPlace {
        width: 100%;
    }
    .banner .titleText {
        font-size: 42px;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.man {
        height: 280px;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.children img {
        height: auto;
    }
    .btn {
        font-size: 18px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .nameDay {
        font-size: 25px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .discount-amount {
        font-size: 40px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .discount-amount {
        min-width: 115px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .mainCalendar a {
        padding: 10px;
    }
    .banner.bannerMain {
        background-size: 230%;
    }
    .calendarModalBlock .discountSlider .calendarBlock .calendar .item .discountNum.newDelivery, .calendarModalBlock .discountSlider .calendarBlock .calendar .item .discountNum {
        font-size: 14px;
    }
    .calendarModalBlock .discountSlider .calendarBlock .nameDay span, .calendarModalBlock .discountSlider .calendarBlock .calendar .item .dateCalendar {
        font-size: 8px;
    }
    .banner .discountSlider .calendarBlock .calendar, .calendarModalBlock .discountSlider .calendarBlock .calendar {
        margin-top: 5px;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.women::before, .ourCollections .ourCollectionsBlock .photoCollections.man::before, .ourCollections .ourCollectionsBlock .photoCollections.children::before {
        font-size: 20px;
    }
    .ourCollections .ourCollectionsBlock .photoManChildren,
    .ourCollections .ourCollectionsBlock .photoCollections.children {
        margin-top: 60px;
    }
    section {
        padding: 34px 0;
    }
    .mejs__overlay-button {
        transform: scale(0.8);
    }
    .articles .articlesBlock .textBlockMain,
    .articles .articlesBlock .photo-text:nth-child(2n) .photoCollections {
        padding-left: 10px;
    }
    .articles .articlesBlock .photo-text .photoCollections,
    .articles .articlesBlock .photo-text:nth-child(2n) .textBlockMain {
        padding-right: 10px;
    }
    .articles .articlesBlock .textBlockMain .textBlock .textArticles {
        max-height: 100px;
    }
    .arrows-block {
        margin-top: 20px;
    }
    .news .sliderNewsBlock .btn-slide-prev-news, .news .sliderNewsBlock .btn-slide-next-news,
    .brand .btn-swiper.btn-slide-prev, .brand .btn-swiper.btn-slide-next {
        width: 32px;
    }
    .news .newsBlock .sliderNewsBlock .newsSlider,
    .brand .brandBlock .brandBlockSlider .brandSlider {
        width: calc(100% - 70px);
    }
    .location .locationBlock .map {
        height: 400px;
    }
    .location .locationBlock .map .container .locationInfo .locText {
        gap: 5px;
    }
    .location .locationBlock .map .container .locationInfo .locText i {
        width: 15px;
    }
    footer .footer .item.infoContactMain {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
    }
    footer .footer .item .logo {
        width: 130px;
    }
    footer .footer .item .logo, footer .footer .item .contactInfo,
    footer .footer .item.navigation {
        padding: 0;
    }
    footer .footer {
        padding: 30px 0;
    }
    footer .footer .item nav > ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
    }
    footer .footer .item nav > ul li > ul {
        margin-bottom: 8px;
        gap: 5px;
    }
    .news .newsBlock .info-block .item .titleInfo, .news .newsBlock .sliderNewsBlock .item .titleInfo {
        font-size: 18px;
    }
    .articles .articlesBlock .photo-text {
        margin-bottom: 50px;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.man img {
        object-position: 0 -110px;
    }
    .banner.aboutUsPage .bannerBlock {
        justify-content: space-evenly;
    }
    .banner.aboutUsPage {
        padding-top: 50px;
    }
    .banner.aboutUsPage .bannerBlock .block p {
        font-size: 14px;
    }
    .citySection {
        padding: 25px 0 15px;
    }
    .discountSlider .calendarBlock .nameDay {
        font-size: 10px;
    }
    .discountSlider .calendarBlock .calendar .item .dateCalendar {
        font-size: 10px;
    }
    .discountSlider .calendarBlock .calendar .item .discountNum {
        font-size: 12px;
    }
    .infoCompanySection .infoCompanyBlock .photo-text .photoCollections {
        height: 220px;
    }
    .infoCompanySection .infoCompanyBlock .photo-text .photoCollections img {
        object-position: 0 -180px;
    }
    .imgAboutUsBottom {
        display: none;
    }
    section.discountBlock {
        padding-bottom: 64px;
    }
    .stocksBlock .stocksBlockMain .textBlock {
        margin-bottom: 39px;
    }
    .job .lineTitleSection .textBlock .h3.title__page, .stocksBlock .stocksBlockMain .info-block .textBlock .h3.title__page,
    .lineTitleSection .info-block .item .textBlock .h3.title__page, .lineTitleSection50 .info-block .item .textBlock .h3.title__page {
        padding: 10px 0 8px;
        font-size: 20px;
    }
    .stocksBlock .stocksBlockMain .info-block .item .textBlock .h3.title__page {
        font-size: 20px;
    }
    .stocksBlock .stocksBlockMain .blockStocksInfo {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .stocksBlock .stocksBlockMain .blockStocksInfo .item.imgStocks {
        height: 120px;
    }
    .brandSection .brandSectionBlock .info-block .item .btnMore {
        display: none;
    }
    .brandSection .brandSectionBlock .info-block {
        margin-top: 20px;
    }
    .brandSection .brandSectionBlock .search {
        width: calc(100% - 30px);
        margin: 0 auto!important;
    }
    .infoContactsSection .infoContactsSectionBlock .info-block {
        gap: 50px;
    }
    .infoContactsSection .infoContactsSectionBlock .photo-text {
        display: flex;
        flex-direction: column;
    }
    .infoContactsSection .infoContactsSectionBlock .photo-text {
        gap: 30px;
    }
    .banner.job .bannerBlock .h2.title__page {
        margin-right: 15px;
    }
    .jobList .jobListBlock .info-block .item .namePlace > span {
        width: 80px;
    }
    .jobList .jobListBlock .info-block {
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    .jobList .jobListBlock .info-block .item .namePlace {
        align-items: flex-end;
    }
    .jobList .jobListBlock .info-block .item .textInformation .jobBlockMain .text ul {
        padding-left: 30px;
    }
    .jobList .jobListBlock .info-block .item .textInformation .jobBlockMain {
        margin-bottom: 20px;
    }
    .cooperation .cooperationBlock .info-block .item .imgBlockCooperation {
        height: 100px;
    }
    .cooperation .cooperationBlock .info-block .item .imgBlockCooperation {
        margin-top: 15px;
    }
    .stocksBlock .stocksBlockMain .info-block .item .textBlock,
    .lineTitleSection .info-block .item .textBlock, .lineTitleSection50 .info-block .item .textBlock, .job .lineTitleSection .textBlock, .stocksBlock .info-block .item .textBlock {
        width: calc(100% - 15px)!important;
    }
    .cooperation .cooperationBlock .info-block .item:last-of-type, .newsSection .newsSectionBlock .info-block .item:last-of-type {
        padding-bottom: 30px;
    }
    .newsSection.lineTitleSection .info-block .item .textBlock {
        width: 100%!important;
    }
    .reviewsSection .reviewsSectionBlock .info-block .item .titleBlock span {
        font-size: 28px;
        padding: 30px 0;
    }
    .reviewsSection .reviewsSectionBlock .info-block .item .block {
        padding: 30px 0 60px;
    }
    .reviewsSection .reviewsSectionBlock .info-block .item .btn-review .arrows {
        width: 25px;
    }
    .reviewsSection .reviewsSectionBlock .info-block .item .btn-review {
        gap: 5px
    }
    .reviewsSection form.newReview .review-block textarea {
        width: 100%;
    }
    .reviewsSection .reviewsSectionBlock .info-block .item .block {
        gap: 30px;
    }
    .faqSection .faqSectionBlock .info-block .item .question > span {
        flex: 1;
    }
    .faqSection .faqSectionBlock .info-block .item .answer {
        font-size: 14px;
    }
    .faqSection .faqSectionBlock .info-block .item .answer {
        margin-top: 15px;
    }
    .faqSection .faqSectionBlock .info-block .item .answer span.adminText {
        margin-top: 10px;
    }
    .faqSection .faqSectionBlock .info-block .item {
        padding: 10px 15px;
    }
    .newsSection .newsSectionBlock .info-block .item {
        gap: 30px;
    }
    .cooperation .cooperationBlock .info-block .item, .newsSection .newsSectionBlock .info-block .item {
        padding: 30px 0;
    }
    .job .lineTitleSection .textBlock .h3.title__page, .stocksBlock .stocksBlockMain .info-block .textBlock .h3.title__page, .lineTitleSection .info-block .item .textBlock .h3.title__page, .lineTitleSection50 .info-block .item .textBlock .h3.title__page {
        margin-left: 15px!important;
    }
    .modal .info-block .item .discount {
        margin-bottom: 10px;
    }
    .modal .infoText {
        margin: 10px 0;
    }
    input, textarea {
        padding: 5px 10px;
        min-height: 40px;
    }
    .advertisementSection .info-block .item .textBlock {
        width: calc(100% - 30px);
        margin: 0 auto!important;
    }
    .rent .rentBlockMain .textBlock {
        margin-bottom: 35px;
    }
    .infoLandlordsAdv .infoLandlordsAdvBlock .info-block .item .textMainInfo.requirements > div {
        margin-bottom: 20px;
    }
    .infoLandlordsAdv .infoLandlordsAdvBlock .info-block .item .textMainInfo.requirements .title__page_down {
        margin-top: 35px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .dayBlock {
        font-size: 22px;
    }
    .calendarModalBlock .discountSlider .calendarBlock .calendar .item .discountNum.newDelivery, .calendarModalBlock .discountSlider .calendarBlock .calendar .item .discountNum {
        font-size: 12px;
    }
    .job .lineTitleSection .textBlock .h3.title__page {
        font-size: 14px;
    }
    .jobList .jobListBlock .info-block .item .namePlace,
    .jobList .jobListBlock .info-block .item .textInformation {
        width: 100%;
        margin-left: 0;
    }
    .infoLandlords .infoLandlordsBlock .info-block .item .textMainInfo,
    .infoLandlords .infoLandlordsBlock .info-block .item .textMainInfo.cooperationText {
        margin-top: 20px;
    }
    .infoLandlords .infoLandlordsBlock .info-block .item {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 340px) {
    .banner.bannerMain .titleText {
        margin-top: 10px;
    }
    .banner .bannerBlock .calendarSlider {
        height: 70px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .nameDay {
        font-size: 20px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .discount-amount {
        font-size: 30px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .info-text span {
        font-size: 12px;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner {
        grid-template-columns: 30px auto;
    }
    .banner .bannerBlock .calendar-coupon .calendar_banner .calendar_banner_bg .calendarSlider .discount-amount {
        padding: 5px;
    }
    .calendarModalBlock .discountSlider .calendarBlock .calendar .item .discountNum {
        min-height: 35px;
    }
    .banner .discountSlider .nameMonth, .calendarModalBlock .discountSlider .nameMonth {
        margin-bottom: 5px;
    }
    .ourCollections .ourCollectionsBlock .photoCollections.man img {
        object-position: 0 -80px;
    }
    .location .locationBlock .map .container .locationInfo {
        width: 180px;
    }
    .discountSlider .calendarBlock .nameDay {
        font-size: 8px;
    }
    .infoContactsSection.contactsPage .infoContactsSectionBlock .info-block .textBlockMain {
        width: calc(100% - 30px);
        margin: 0!important;
    }
    .infoCompanySection .infoCompanyBlock .photo-text .photoCollections, .infoContactsSection .infoContactsSectionBlock .photo-text .photoCollections {
        height: 150px;
    }
    .newsSection .newsSectionBlock .info-block .item .titleTextBlockNews .textAndBtn .arrows-block, .jobList .jobListBlock .info-block .item .namePlace .arrows-block {
        width: 100%;
    }
}